body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #29282D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 1px;
}

a {
    color: inherit;
}

ul {
    padding: 0 ;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.main-page-wrapper {
    background: url("./img/lion-header1.jpg") center top -8px no-repeat, url("./img/bottom-pic1.png") right -15px bottom 273px no-repeat;
}

.container {
    margin: 0px auto;
    width: 1140px;
}

.header {
    min-height: 247px;
    position: relative;
}

.logo {
    display: block;
    position: absolute;
    top: 25px;
    left: 0px;
}

.menu {
    position: absolute;
    top: 30px;
    left: 256px;
}

.contacts {
    position: absolute;
    font-style: normal;
    text-align: right;
    line-height: 15px;
    top: 29px;
    right: 0px;
}

.contacts__footer {
    position: absolute;
    font-style: normal;
    text-align: right;
    line-height: 15px;
    top: 16px;
    right: 0px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #d3a557;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 13px;
}

.menu__item {
display: inline-block;
vertical-align: middle;
margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #d3a557;
}

.hero__text-section {
    width: 500px;
    margin-bottom: 186px;
}

.hero__title {
    font-size: 58px;
    font-weight: bold;
    line-height: 1.13;
    margin-bottom: 22px;
}

.hero__subtitle {
    font-size: 18px;
    color: #d3a557;
    margin-bottom: 40px;
}

.btn {
    box-shadow: 0px 8px 35px rgba(223, 181, 109, .35);
    border-radius: 3px;
    padding: 17px 38px 16px 39px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.btn--color--ginger {
    background: #dfb56d;
}

.btn:hover {
    background: #d3a557;
    box-shadow: 0px 8px 35px rgba(223, 181, 109, .35);
    border-radius: 3px;
}

.btn--color--black {
    background: #2b2b2b;
}

.btn--color--black:hover {
    background: #dfb56d;
}

.section {
    position: relative;
    margin: 0px auto;
    width: 1140px;
}

.section__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 49px;
}

.offers {
    margin-top:  51px;
}

.offers__item {
    min-height: 449px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 22px;
    color: #000;
    border-radius: 5px;
    width: 362px;
    overflow: hidden;
}

.offers__item--theme--grey .offers__header:before {
    background: #a7a7a7;
}

.offers__item--theme--blue .offers__header:before {
    background: #596483;
}

.offers__item--theme--gold .offers__header:before {
    background: #988657;
}

.offers__item:last-child {
    margin-right: 0;
    margin-left: 1px;
}

.offers__header {
    position: relative;
    min-height: 144px;
    background: #fcfcfc;
}

.offers__header:before {
    content: "";
    width: 270px;
    height: 270px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -146px;
    right: -93px;
    background: #ccc;
}

.offers__img {
    position: absolute;
    top: 40px;
    left: 137px;
}

.offers__content {
    padding: 33px 22px 22px 22px;
}

.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}

.offers__prices-cell {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-right: 5px;
}

.offers__prices-cell:last-child {
    margin-right: 0;
}

.offers__price {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 4px;
}

.offers__price-desc {
    color: #666;
}

.offers__prices {
    margin-bottom: 46px;
}

.btn__wrapper {
    text-align: center;
}

.news {
    margin-top: 127px;
}

.news__list {
    margin-top: 51px;
}

.news__item {
    width: 555px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-right: 21px;
}

.news__item:last-child {
    margin-right: 0px;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 30px;
    right: 0px;
    top: 251px;  
    padding: 0px 60px 0px 0px;
}

.news__date {
    font-size: 14px;
}

.news__subtitlr {
    font-size: 24px;
    font-weight: bold;
    margin-top: 14px;
}

.news__text {
    margin-top: 5px;
}

.pagination {
    text-align: center;
    margin-top: 53px;
}

.pagination__display, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__display {
    margin-right: 26px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__item--active .pagination__link {
    background: #353439;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.pagination__link:hover {
    background: #353439;
}

.about{
    margin-top: 146px;
    margin-bottom: 68px;
}

.about__img {
    display: inline-block;
    vertical-align: top;
}

.about__content {
    background: #202123;
    padding: 70px 160px 69px 81px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    width: 786px;
    margin-left: -141px;
    margin-top: 96px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 39px;
}

.about__text {
    line-height: 26px;
    margin-bottom: 71px;
}

.footer-container {
    width: 1140px;
    margin: 0px auto;
}

.footer-container__content {
    display: inline-block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    position: relative;
}

.socials {
    position: absolute;
    top: 20px;
    right: 265px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    opacity: 25%;
}

.socials__link:hover{
    opacity: 100%;
}