html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #29282D;
    margin: 0px;
}

.main-page-wrapper {
    background: url("../../img/background/lion-header1.jpg") center top  no-repeat, url("../../img/background/bottom-pic1.png") right -6px bottom 191px no-repeat;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    min-height: 100%;
}

.wrapper__content {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 1140px;
}

a {
    color: inherit;
}

ul {
    padding: 0 ;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}