.about{
    margin-top: 146px;
    margin-bottom: 55px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 39px;
}

.about__img {
    display: inline-block;
    vertical-align: top;
}

.about__content {
    background: #202123;
    padding: 70px 160px 69px 81px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    width: 786px;
    margin-left: -141px;
    margin-top: 96px;
}

.about__text {
    line-height: 26px;
    margin-bottom: 71px;
}