.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__footer {
    font-style: normal;
    text-align: right;
    line-height: 15px;
    top: 16px;
    right: 0px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #d3a557;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 13px;
}