.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 53px;
    align-items: center;
}

.pagination--theme--light .pagination__item--active .pagination__link, .pagination__link:hover {
    color: #fff;
}

.pagination--theme--light:hover {
    
}

.pagination__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination__display {
    align-items: center;
    margin-right: 26px;
}

.pagination__item {
    vertical-align: middle;
}

.pagination__item--active .pagination__link {
    background: #353439;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.pagination__link:hover {
    background: #353439;
}