.separator {
    background: url(../../img/phone-n-hand.png) right 413px bottom no-repeat, linear-gradient(0deg, #E5C288, #E5C288);
    min-height: 360px;
    display: flex;    
    justify-content: end;
    flex-direction: column;
    justify-content: center;
    color: #202020; 
}

.separator__content {
    max-width: 40%;
    display: flex;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 65px;
}