.socials {
margin-right: 75px;
}

.socials__item {
    display: inline-block;
    margin-right: 5px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    opacity: 25%;
}

.socials__link:hover{
    opacity: 100%;
}