.socials {
margin-right: 75px;
}

.socials__item {
    display: inline-block;
    margin-right: 5px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    opacity: 25%;
}

.soc-tg:before {
    position: absolute;
    content: "";
    width: 36px; 
    height: 36px;
    background: url("../../img/soc_sprites.png") -172px -10px;
}

.soc-vk:before {
    position: absolute;
    content: "";
    width: 36px; 
    height: 36px;
    background: url("../../img/soc_sprites.png") -228px -10px;
}

.soc-fb:before {
    position: absolute;
    content: "";
    width: 36px; 
    height: 36px;
    background: url("../../img/soc_sprites.png") -60px -10px;
}

.soc-in:before {
    position: absolute;
    content: "";
    width: 36px; 
    height: 36px;
    background: url("../../img/soc_sprites.png") -116px -10px;
}

.socials__link:hover{
    opacity: 100%;
}