.socials {
    position: absolute;
    top: 20px;
    right: 265px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.socials__item:last-child {
    margin-right: 0px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    opacity: 25%;
}

.socials__link:hover{
    opacity: 100%;
}